.layout {
    display: flex;
    flex-direction: column;

    .container {
        display: flex;
    
        .sidebar {
            flex: 1;
        }
    
        .mainContent {
            flex: 4;
            padding: 20px;
        }
    }
}

.link {
    text-decoration: none;
    color: inherit;
}
